
*{
    box-sizing: border-box;

}
body{
    background-color: #2e3192;
}
header{
    
    margin-bottom:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2e3192;
}

#masthead {
     
}
nav{
    background-color: #27aae1;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    font-family: "gill sans","helvetica", sans-serif;
  
    
    
    text-align: center;
}
nav a {color: #ffffff}
nav a:hover {color: #f7821e }
div{
    background-color:white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-family: "gill sans","helvetica", sans-serif;
    line-height: 24px;
    margin-bottom: 1em;   
    max-width: 950px;
     
}

h1 {
    color: #27aae1;
    font-size: 30px;
}
img {
  border-radius: 12px;
  }
p {
    text-indent: 40px;}

figure {
    text-align: center;
    width: 40%;
    padding: 5px;
    border: 5px;
    
    
}