
*{
    box-sizing: border-box;
    margin: 0;
    paddding: 0; 
}
h1 {
    color: #ff4a0;
}
body {
    font-size 40px;
}
p{
    margin-bottom: 1rem
    font-size: 16px;
    font-family: arial, helvetica, sans-serif;
   
}

header {
    background-color: #000000;
    color: #ffffff;
}
    header a{
    
    color:#aaaaaa;
    text-decoration: none;
}

    header a: active {
    text-decoration: underline;
}

header a:hover {
    color: #ffffff;
    
}