
*{
    box-sizing: border-box;

}
body{
    background-color: #2e3192;
}
header{
    
    margin-bottom:30px;
    padding-bottom: 20px;
    background-color: #2e3192;
}

nav{
    background-color: #27aae1;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    font-family: "gill sans","helvetica", sans-serif;
    color: red;
    text-align: center;
}

nav a:hover {color: #f7821e }
div{
    background-color:white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: "gill sans","helvetica", sans-serif;
    line-height: 24px;
    margin-bottom: 1em;   
}

h1 {
    color: #27aae1;

body {
          
    }
p{
  
        
}
nav.secondardy {
        background-color: #f7821e
    }
